{% extends 'BluesoftBundle::template.html.twig' %}
{% block body %}
    <div class="row">
        <div class="form-wrapper">
            {% if xls_agent.hasErrors() %}
                <div class="alert alert-danger">
                    {% for e in xls_agent.errors() %}
                        <p class="error-message">{{ e.getMessage() }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form_start(form) }}
            <div class="uploader">
                {{ form_widget(form.spreadsheet, { 'attr': {'class': 'form-control  '} }) }}
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div class="table-wrapper">
            <table id="contracts-table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead class="">
                <tr>
                    <th>system</th>
                    <th>request</th>
                    <th>order_number</th>
                    <th>from_date</th>
                    <th>to_date</th>
                    <th>amount</th>
                    <th>amount_type</th>
                    <th>amount_period</th>
                    <th>authorization_percent</th>
                    <th>active</th>
                    {#<th>#}{# dummy head for edit and delete actions #}{#</th>#}
                </tr>
                </thead>
            </table>
        </div>
        <div class="bottom-buttons-wrap col-xs-12 col-md-offset-1">
            <a href="{{ path('contract_new') }}" class="btn btn-success">Dodaj nową pozycję</a>
        </div>
    </div>

{% endblock %}